@import './navbar.css';
@import './banner.css';
@import './show.css';
@import './card.css';

.title {
  color: #FE3B42;
  
}

.navbar-logo:hover {
  text-decoration: none;
}

.navbar-logo img:hover {
  transform: rotate(45deg);
}



