<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-logo form-inline">
    <img src="<%= url('images/sglogo.png') %>">
    <h3 class="title">Bookie</h3>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="/books/new" class="navbar-item navbar-link">New Book</a>
    <a href="" class="navbar-item navbar-link">Dashboard</a>
   </div>
</div>